{
    auto_https off
}

code99.sikademo.com, code99.ondrejsika.cz {
    tls /etc/caddy/sikademo.com.crt /etc/caddy/sikademo.com.key
    reverse_proxy lab99.sikademo.com:48080
}

code0.sikademo.com, code0.ondrejsika.cz {
    tls /etc/caddy/sikademo.com.crt /etc/caddy/sikademo.com.key
    reverse_proxy lab0.sikademo.com:48080
}

codeprom.sikademo.com, codeprom.ondrejsika.cz {
    tls /etc/caddy/sikademo.com.crt /etc/caddy/sikademo.com.key
    reverse_proxy prom.sikademo.com:48080
}

code1.sikademo.com, code1.ondrejsika.cz {
    tls /etc/caddy/sikademo.com.crt /etc/caddy/sikademo.com.key
    reverse_proxy lab1.sikademo.com:48080
}

code2.sikademo.com, code2.ondrejsika.cz {
    tls /etc/caddy/sikademo.com.crt /etc/caddy/sikademo.com.key
    reverse_proxy lab2.sikademo.com:48080
}

code3.sikademo.com, code3.ondrejsika.cz {
    tls /etc/caddy/sikademo.com.crt /etc/caddy/sikademo.com.key
    reverse_proxy lab3.sikademo.com:48080
}

code4.sikademo.com, code4.ondrejsika.cz {
    tls /etc/caddy/sikademo.com.crt /etc/caddy/sikademo.com.key
    reverse_proxy lab4.sikademo.com:48080
}

code5.sikademo.com, code5.ondrejsika.cz {
    tls /etc/caddy/sikademo.com.crt /etc/caddy/sikademo.com.key
    reverse_proxy lab5.sikademo.com:48080
}

code6.sikademo.com, code6.ondrejsika.cz {
    tls /etc/caddy/sikademo.com.crt /etc/caddy/sikademo.com.key
    reverse_proxy lab6.sikademo.com:48080
}

code7.sikademo.com, code7.ondrejsika.cz {
    tls /etc/caddy/sikademo.com.crt /etc/caddy/sikademo.com.key
    reverse_proxy lab7.sikademo.com:48080
}

code8.sikademo.com, code8.ondrejsika.cz {
    tls /etc/caddy/sikademo.com.crt /etc/caddy/sikademo.com.key
    reverse_proxy lab8.sikademo.com:48080
}

code9.sikademo.com, code9.ondrejsika.cz {
    tls /etc/caddy/sikademo.com.crt /etc/caddy/sikademo.com.key
    reverse_proxy lab9.sikademo.com:48080
}

code10.sikademo.com, code10.ondrejsika.cz {
    tls /etc/caddy/sikademo.com.crt /etc/caddy/sikademo.com.key
    reverse_proxy lab10.sikademo.com:48080
}

code11.sikademo.com, code11.ondrejsika.cz {
    tls /etc/caddy/sikademo.com.crt /etc/caddy/sikademo.com.key
    reverse_proxy lab11.sikademo.com:48080
}

code12.sikademo.com, code12.ondrejsika.cz {
    tls /etc/caddy/sikademo.com.crt /etc/caddy/sikademo.com.key
    reverse_proxy lab12.sikademo.com:48080
}

code13.sikademo.com, code13.ondrejsika.cz {
    tls /etc/caddy/sikademo.com.crt /etc/caddy/sikademo.com.key
    reverse_proxy lab13.sikademo.com:48080
}

code14.sikademo.com, code14.ondrejsika.cz {
    tls /etc/caddy/sikademo.com.crt /etc/caddy/sikademo.com.key
    reverse_proxy lab14.sikademo.com:48080
}

code15.sikademo.com, code15.ondrejsika.cz {
    tls /etc/caddy/sikademo.com.crt /etc/caddy/sikademo.com.key
    reverse_proxy lab15.sikademo.com:48080
}

code16.sikademo.com, code16.ondrejsika.cz {
    tls /etc/caddy/sikademo.com.crt /etc/caddy/sikademo.com.key
    reverse_proxy lab16.sikademo.com:48080
}

code17.sikademo.com, code17.ondrejsika.cz {
    tls /etc/caddy/sikademo.com.crt /etc/caddy/sikademo.com.key
    reverse_proxy lab17.sikademo.com:48080
}

code18.sikademo.com, code18.ondrejsika.cz {
    tls /etc/caddy/sikademo.com.crt /etc/caddy/sikademo.com.key
    reverse_proxy lab18.sikademo.com:48080
}

code19.sikademo.com, code19.ondrejsika.cz {
    tls /etc/caddy/sikademo.com.crt /etc/caddy/sikademo.com.key
    reverse_proxy lab19.sikademo.com:48080
}

code20.sikademo.com, code20.ondrejsika.cz {
    tls /etc/caddy/sikademo.com.crt /etc/caddy/sikademo.com.key
    reverse_proxy lab20.sikademo.com:48080
}

oscode0.sikademo.com, oscode0.ondrejsika.cz {
    tls /etc/caddy/sikademo.com.crt /etc/caddy/sikademo.com.key
    reverse_proxy oslab0.sikademo.com:48080
}

oscode1.sikademo.com, oscode1.ondrejsika.cz {
    tls /etc/caddy/sikademo.com.crt /etc/caddy/sikademo.com.key
    reverse_proxy oslab1.sikademo.com:48080
}

oscode2.sikademo.com, oscode2.ondrejsika.cz {
    tls /etc/caddy/sikademo.com.crt /etc/caddy/sikademo.com.key
    reverse_proxy oslab2.sikademo.com:48080
}

oscode3.sikademo.com, oscode3.ondrejsika.cz {
    tls /etc/caddy/sikademo.com.crt /etc/caddy/sikademo.com.key
    reverse_proxy oslab3.sikademo.com:48080
}

oscode4.sikademo.com, oscode4.ondrejsika.cz {
    tls /etc/caddy/sikademo.com.crt /etc/caddy/sikademo.com.key
    reverse_proxy oslab4.sikademo.com:48080
}

oscode5.sikademo.com, oscode5.ondrejsika.cz {
    tls /etc/caddy/sikademo.com.crt /etc/caddy/sikademo.com.key
    reverse_proxy oslab5.sikademo.com:48080
}

oscode6.sikademo.com, oscode6.ondrejsika.cz {
    tls /etc/caddy/sikademo.com.crt /etc/caddy/sikademo.com.key
    reverse_proxy oslab6.sikademo.com:48080
}

oscode7.sikademo.com, oscode7.ondrejsika.cz {
    tls /etc/caddy/sikademo.com.crt /etc/caddy/sikademo.com.key
    reverse_proxy oslab7.sikademo.com:48080
}

oscode8.sikademo.com, oscode8.ondrejsika.cz {
    tls /etc/caddy/sikademo.com.crt /etc/caddy/sikademo.com.key
    reverse_proxy oslab8.sikademo.com:48080
}

oscode9.sikademo.com, oscode9.ondrejsika.cz {
    tls /etc/caddy/sikademo.com.crt /etc/caddy/sikademo.com.key
    reverse_proxy oslab9.sikademo.com:48080
}

oscode10.sikademo.com, oscode10.ondrejsika.cz {
    tls /etc/caddy/sikademo.com.crt /etc/caddy/sikademo.com.key
    reverse_proxy oslab10.sikademo.com:48080
}
